@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap%27');

.main{
    color:#f2f2f2;
    border-radius: 30px;

    
}


.sedans{
    background-color: #e38826;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    padding: 20px;
    padding-bottom: 65px;
    
}
.sedans header {
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
    margin-bottom: 40px;
}
img{
    margin-top: 20px;
    margin-left: 20px;
}
.sedans p{
    margin-left: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-bottom: 100px;
}
.sedans span {
    margin-left: 20px;
    padding-bottom: 30px;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 10px 20px;
    color:#e38826 ;
    font-family: 'Lexend Deca', sans-serif;
}
.suvs{
    background-color: #006970;
    padding: 20px;
    padding-bottom: 65px;
    
}
.suvs header {
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
    margin-bottom: 40px;
}
    

.suvs p{
    margin-left: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-bottom: 100px;
        
}
.suvs span {
    margin-top: 50px;
    margin-left: 20px;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 10px 20px;
    color: #006970;
    font-family: 'Lexend Deca', sans-serif;
}

.luxury{
    padding: 20px;
    background-color: #004241;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 65px;
            
}
.luxury header {
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
    margin-bottom: 40px;
}
        
.luxury p{
    margin-left: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-bottom: 100px;
}
.luxury span {
    margin-left: 20px; 
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 10px 20px;
    color:#004241 ;
    font-family: 'Lexend Deca', sans-serif;
}

.main span:hover {
    background-color: hsla(31, 77%, 52%, 0) ;
    border: 2px solid hsl(0, 0%, 95%); 
    color:  hsl(0, 0%, 95%);
    cursor: pointer;
                     }
@media screen and (min-width:786px) {
                        .main{
                            display: flex;
                            padding: 50px 330px;
                            background-color: #f2f2f2;
                        }
                        .luxury{
                            border-bottom-left-radius: 0px;
                            border-top-right-radius: 20px;
                        }
                        .sedans {
                            border-top-right-radius: 0%;
                            border-bottom-left-radius: 20px;
                        }
                        
                    }