#container {
    margin: 0 auto;
    text-align: center;
  }
  
  #generate-button {
    font-size: 1.5em;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #0099ff;
    color: #fff;
    cursor: pointer;
  }
  
  #output {
    font-size: 2em;
    margin-top: 20px;
  }
  